<style>
  table, th, td {
    border: 1px solid black;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    float: right;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>



<ul>
  <li><a> View keywords statistics for </a></li>

  <li class="dropdown">
    <b><a href="javascript:void(0)" class="dropbtn"><%= @period_text %></a></b>
    <div class="dropdown-content">
      <%= link_to '1 week', '/unamo/index/1week' %>
      <%= link_to '2 weeks', '/unamo/index/2weeks' %>
      <%= link_to '1 month', '/unamo/index/1month' %>
    </div>
  </li>
</ul>


<table>
  <thead>
  <tr>
    <th>Keyword</th>
    <th>Best Ranking</th>
    <th>Date Of Occurance</th>
    <th>Worst Ranking</th>
    <th>Date Of Occurance</th>
    <th>Mean Ranking</th>
    <th>Groups</th>
  </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <% t= keyword.positions.where("positions_date > ?",@date_from).order("position DESC") %>
    <% if !t.first.position.nil? %>
      <tr>
        <td><%= keyword.name %></td>
        <td><%= t.first.position %></td>
        <td><%= t.first.positions_date %></td>
        <td><%= t.last.position %></td>
        <td><%= t.last.positions_date %></td>
        <td><%=  number_with_precision(t.average(:position), precision: 2) %></td>
        <td>
          <% keyword.groups.each do |_group| %>
            <%= _group.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>